/* Styles */
.rbc-label-start {
  font-family: fontawesome;
  font-weight: bold;
  font-size: 30px;
}
.rbc-center-text {
  font-family: 'Roboto', 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial;
  fill: black;
}
.score .rbc-center-text-line0 {
  font-size: 95px;
}
.score .rbc-center-text-line1 {
  font-size: 20px;
}

#information p{
  font-size: 35px;
  margin-bottom: 0px;
}

#information i{
  font-size: 35px
}

section {
  padding : 20px 0px
}

#information .metric-time{
  font-size: 20px;
  margin-bottom: 24px
}

/* Windrose styles */
.windroserow svg {
    margin: 0 auto;
    width: 400px;
    display: block;
}
.windroserow svg text { font: 14px sans-serif; text-anchor: middle }
.windroserow svg .caption { font: 18px sans-serif; }
.windroserow svg .axes { stroke: #aaa; stroke-width: 0.5px; fill: none; }
.windroserow svg .labels text { letter-spacing: 1px; fill: #444; font-size: 12px; }
.windroserow svg .arcs {  stroke: #000; stroke-width: 0.5px; }
.windroserow svg .arctext text { font-size: 9px; }
.windroserow svg #windrose .arctext { fill: #44d; }
.windroserow svg #windspeed .arctext { fill: #933; }
.windroserow svg .calmwind text {  font-size: 18px; }
.windroserow svg text.calmcaption {  font-size: 12px; }
.windroserow svg g.tickmarks>text { font-size: 10px; fill: #888;}

@media (max-width: 979px) {
    body {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    /* Lesser stroke width for smaller screen */
    .line {
        stroke-width: 1.5px;
    }
}
@media (min-width: 1200px) {
    /* Bigger stroke width for bigger screen */
    .line {
        stroke-width: 3px;
    }
}
